/* 
.container {
    background-image: url("http://localhost:8000/picture/campground.png");
    background-position: center;
    background-size: cover;
} */

@media (width > 600px) {
    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding : 2rem, 2rem, 2rem, 2rem
    }
  }
  
@media (width < 599px) {
    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding : 1rem, 1rem, 1rem, 1rem;
    }
}

.beside-container {
    display: flex;
}

.left-container {
    margin-left: 1em;
    margin-right: 0.5em;
}  

.left-container:right-container {
    margin-right: 10px;
} 

.living-false {
    text-decoration: line-through;
    color: #808080;
  }

.msg-0{
    color: #ff726f;
}

.grid-container {
    overflow: auto;
    width: 100%;
}

.grid-left-container {
    float: left;
    width: 60%;
}

.grid-right-container {
    float: right;
    width: 40%;
}

.graveyard {
    direction: rtl;
    clear: none;
}

.graveyard>ul {
    padding-right: 0px;
}

ul {
    list-style-type: none;
}

.gridthree-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.room {
    flex: 0 0 100%
}

.room-state {
    text-align: right;
}

.room-role {
    border: 5px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

/* Chat */

.room-chat {
    margin-bottom: 1em;
    width: 100%;
    margin-top: auto;
}

.chat-room {
    height: 350px;
    border: 5px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.messages {
    height: 300px;
    overflow-y: auto;
    padding: 15px 10px;
}
  
.msg-text {
    word-wrap: break-word;
    width: 85%;
}

.input-container {
    display: flex;
}

.input-container input {
    background-color: transparent;
    border: none;
    padding: 0rem;
    resize: vertical;
    flex: 1 1 auto;
}

.msg-button {
    background-color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
