
.chat-room {
    border: 5px solid #ddd;
    height: 450px;
    border-radius: 4px;
    overflow: hidden;
}

.messages {
    height: 342px;
    overflow-y: auto;
    padding: 15px 10px;
  }

.beside-container {
    display: flex;
}

.left-container {
    flex: 0;
}  

.left-container:right-container {
    margin-right: 100px;
} 

.living-false {
    text-decoration: line-through;
  }